<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is the comment from, <%= @comment.email %></h1>
    <p>
      title: <%= @comment.title %>.<br>
    </p>
    <p><%= @comment.text </p>
  </body>
</html>
