<header class="site-header">
    <div class="wrap">
    <h1>Terms of Service</h1>
    </div>
</header>
<div class="page-content">
    <div class="wrap">
        <%= markdown @content %>
    </div>
</div>
<footer>
<p> &copy Reeonce 2014 </p>
<p><a href='/ttd/privacy_policy/'>Privacy Policy</a> | <a href='/ttd/tos/'>Terms of Service</a></p>
</footer>
